{
  "parser": "babel-eslint",
  "env": {
    "es2021": true
  },
  "extends": [
    "@react-native-community",
    "eslint:recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "no-unused-vars": ["error"],
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "error",
    "no-duplicate-imports": "error",
    "no-console": "warn"
  }
}
