language: android

dist: trusty

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
    - extra

before_install:
  - rm -rf android/app/build
  - openssl aes-256-cbc -K $encrypted_4562a431234b_key -iv $encrypted_4562a431234b_iv
    -in android/app/app.keystore.enc -out android/app/app.keystore -d
  - nvm install 12
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
before_script:
  - yarn install

stages:
  - release

jobs:
  include:
    - stage: release
      if: tag IS present
      name: Release app
      script:
        - make setup-production-env
        - make setup
        - make android-release

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: android/app/build/outputs/apk/release/app-release.apk
  skip_cleanup: true
  on:
    tags: true
