<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<resources>
  <string name="app_name">Youtube Audio Player</string>
  <string moduleConfig="true" name="CodePushDeploymentKey">CODE_PUSH_DEPLOY_KEY</string>
</resources>
